.suggestions-nav-container {
    background-color: white;
    margin: 4px 0;
    border-radius: 4px;
}

.suggestions-nav-header {
    width: 100%;
    padding: 8px 16px;
    border: none;
    display: flex;
    align-items: center;
    border-radius: none;
    border-bottom: 1px solid #ccc;
}

.suggestions-icons {
    transform: rotate(180deg);
    margin-right: 8px;
}

.suggestions-label {
    font-weight: bold;
    font-size: 20px;
}

.suggestions-nav-body {
    width: 100%;
    padding: 8px 16px;
    border-radius: none;
}

.modal-sugges {
    padding: 0 16px;
}

.list-item {
    padding: 8px 0;
    border-bottom: 1px solid gray;
}
.red-text {
    color: red;
    font-weight: 400;
}

.suggestions-panel-box {
    border: none;
}

.suggestions-panel-item {
    background-color: #e2dfdb;
    font-weight: bold;
    margin: 4px 0;
    border-radius: 4px !important;
}

.ant-collapse-header {
    border-radius: 4px !important;
}

.ant-collapse-content-box {
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
}