.detail-search-search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  background: #e2dfdb;
}

.detail-search-search-input {
  background: #e2dfdb;
  padding: 8px 52px;
}